[submodule "0x18-stacks_queues_lifo_fifo/--force"]
	path = 0x18-stacks_queues_lifo_fifo/--force
	url = https://github.com/WalLee2/monty
[submodule "monty"]
	path = monty
	url = https://github.com/WalLee2/monty
[submodule "0x18-stacks_queues_lifo_fifo/monty"]
	path = 0x18-stacks_queues_lifo_fifo/monty
	url = https://github.com/WalLee2/monty
